*

!partitions.csv
!partitions-s3.csv
!platformio.ini

!.gitignore
!.clang-format
!README.md
!LICENSE
!wallpp.7z

!bin/
!bin/**

!src/main.cpp

!src/context/
!src/context/**

!src/
!src/pixeler/
!src/pixeler/**
src/pixeler/doc/build/
